* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.home {
  height: 100vh;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
}

.routes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 30px;
}

.btn {
  background-color: rgb(113, 206, 113);
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 35px 30px;
  width: 200px;
  height: 50px;
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(83, 174, 83);
}

.danger {
  background-color: red;
  padding: 30px 20px;
  border: none;
}

.danger:hover {
  background-color: rgb(252, 120, 120);
}

.create-lobby {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-lobby .form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 350px;
  max-height: 500px;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.form-card h2 {
  text-align: center;
  margin-bottom: 40px;
}

.form-card p {
  font-size: 12px;
}

.input-wrapper {
  width: 100%;
  margin: 15px 0px;
}

input {
  width: 100%;
  border: 1px solid rgb(234, 233, 233);
  padding: 15px;
  border-radius: 5px;
}

.mt-40 {
  margin-top: 40px;
}

.w-100 {
  width: 100%;
}

h1 {
  text-align: center;
}

.lobby-page {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.lobbies {
  padding: 20px;
  margin: 40px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
}

.game-card {
  width: 200px;
  cursor: pointer;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 20px 30px;
}

.game-card-title {
  color: black;
  font-size: 24px;
}

.game-card-desc {
  color: rgb(167, 165, 165);
}

.err {
  color: red;
}

.game-btns-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-btn {
  border: none;
  width: 200px;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 10px;
  background-color: rgb(55, 190, 91);
  color: white;
  cursor: pointer;
}

.game-btn:hover {
  background-color: rgb(55, 141, 78);
}

.leave-btn {
  background-color: rgb(243, 70, 70);
}

.leave-btn:hover {
  background-color: rgb(244, 42, 42);
}

.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  height: 400px;
  text-align: center;
}

.game .error {
  height: 15px;
  margin-bottom: 20px;
}

.grid {
  width: 50;
  height: 50;
  /* background-color: blue; */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 350px;
  height: 300px;
}

.loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader h1 {
  margin-bottom: 20px;
}
